.env
MateAuras_Main.lua
MateAuras_Options.lua
MateAuras_Templates.lua
MateAuras/Libs/*
!MateAuras/Libs/LibGetFrame-1.0
MateAurasOptions/Libs/*
format.bat
**/desktop.ini
.DS_Store
.release
.install
.lua/*
.vscode
CHANGELOG.MD
